@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #fdf9ee;
  --foreground: #000000;

  --color-sand: #ede9d5;
  --color-sand-dark: #eee8d5;

  --color-shade:#ddd5b3;
  --color-sidebar: #eee8d5;

  --sidebar-width: 16rem; /* This corresponds to 64px */

}



.dark {
  --background: #1f1f1f;
  --foreground: #ededed;
  --color-shade:#3d3d3d;

  --color-sidebar: #181818;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  transition: color 0.25s;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
@layer components {
  .nav-btn {
    @apply flex px-3 py-2 rounded-xl transition  items-center 
          hover:bg-(--color-shade)  
  }
}
  

