@import "tailwindcss";
@plugin "@tailwindcss/typography";


@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #fdf9ee;
  --foreground: #000000;

  --color-sand: #ede9d5;
  --color-sand-dark: #eee8d5;

  --color-shade:#f3d85f;
  --color-sidebar: #eee8d5;

  --color-text:#444444;
  --color-link:#3576b8;

  --color-highlight-md: #eee8d5;
  --color-border-md: #ddd5b3;

  --color-project-description:#eee8d5;

  

  --sidebar-width: 16rem; /* This corresponds to 64px;*/

}



.dark {
  --background: #1f1f1f;
  --foreground: #ededed;
  --color-shade:#3d3d3d;

  --color-sidebar: #181818;
  --color-text: #dbdada;
  --color-link:#9796fa;

  --color-highlight-md: #644d00;
  --color-border-md: #ddd5b3;

  --color-project-description:#644d00;

  
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  transition: color 0.25s;
}

p {
  color: var(--color-text);
}

.prose blockquote {
  padding: 1.25rem 1.5rem;
  font-style: italic;
  background-color: var(--color-highlight-md);
  border-left: 4px solid var(--color-border-md); /* Tailwind gray-300 */
  border-radius: 0.375rem; /* rounded-md */
  margin: 1.5rem 0;
}

.prose pre {
  margin: 5; 
  background-color: var(--color-highlight-md);
  color: var(--color-text);
  padding: 1rem;
  border-radius: 0.375rem;
  overflow-x: auto;
  font-size: 0.875rem;
}

.prose code {
  background-color: var(--color-highlight-md);
  padding: 0.25rem 0.4rem;
  border-radius: 0.25rem;
  
  font-size: 0.875em;
}

.prose img {
  border-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@layer components {
  .nav-btn {
    @apply flex px-3 py-2 rounded-xl transition  items-center text-(--color-text)
          hover:bg-(--color-shade)  
  }
}



